APP_ENV=local
APP_DEBUG=false

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

SMTP_HOST=smtp.ionos.es
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENCRYPTION=tls

FROM_EMAIL=
FROM_NAME="Nodra Soluciones Digitales"
TO_EMAIL=

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=